@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@500&display=swap');

:root {
    /* Backgrounds */
    --color-bg-primary: #0F1220;
    --color-bg-secondary: #171A2B;

    /* Text */
    --color-text-primary: #F4F6FF;
    --color-text-secondary: #B8BCE3;
    --color-text-muted: #8A8FC7;

    /* Brand / Accents */
    --color-accent-primary: #414789;
    /* Primary CTA */
    --color-accent-secondary: #2EF2C2;
    /* Links / Active */
    --color-accent-tertiary: #8B7CFF;
    /* Badges */

    /* UI Elements */
    --color-border: #E6E4DD;
    --color-surface: #FFFFFF;
    --color-surface-alt: #FFF7D6;

    /* Font */
    --font-heading: 'Kantumruy Pro', system-ui, sans-serif;
}

/* HIDDING SCROLLBAR */
html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text-primary) !important;
}

body {
    font-family: var(--font-heading);
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
}

.nav-logo {
    width: 80px;
    height: 80px;
}

li:nth-child(1) {
    list-style: none;
}

.accent-color-seconary-bg {
    background-color: var(--color-accent-secondary) !important;
}

.accent-color-secondary {
    color: var(--color-accent-secondary) !important;
}

.text-color-primary {
    color: var(--color-text-primary);
}

.text-color-secondary {
    color: var(--color-text-secondary) !important;
}

.text-color-muted {
    color: var(--color-text-muted) !important;
}

i {
    color: var(--color-text-primary);
}

.logo-gradient {
    background: linear-gradient(90deg, rgba(65, 71, 137, 1) 35%, rgba(46, 242, 194, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-custom {
    border-bottom: 1px solid rgba(168, 85, 247, 0.2);
    backdrop-filter: blur(12px);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.main {
    padding-top: 16rem;
    background: var(--color-bg-primary);
}

a.nav-link {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

a.nav-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--color-accent-secondary);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.nav-link:hover {
    color: var(--color-accent-secondary) !important;
}

a.nav-link:hover:before,
a.nav-link:active:before {
    left: 0;
    right: 0;
}

.h1-hero {
    font-size: 5.5vw !important;
    font-weight: 900;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--color-bg-primary);
    padding: 12px 20px 12px 20px;
    margin-top: 15px;
    border: none;
    box-shadow: 0.3em 0.3em 0 0 var(--color-accent-primary), inset 0.3em 0.3em 0 0 var(--color-accent-primary);
    transition: 0.25s;
}

.hero-button a {
    font-size: 1.2vw;
    text-decoration: none;
}

.hero-button:hover {
    box-shadow: 0 0 0 0 var(--color-accent-secondary), inset 6em 4em 0 0 var(--color-accent-secondary);
}

.hero-image-wrapper {
    width: 18vw;
    overflow: hidden;
    aspect-ratio: 2 / 3;
}

.hero-image-wrapper-left {
    width: 16vw;
    mix-blend-mode: overlay;
    transform: translateX(-6.5vw);
    rotate: -12deg;
    transition: all 1s ease;
}

.hero-image-wrapper-right {
    width: 16vw;
    mix-blend-mode: overlay;
    rotate: 12deg;
    transform: translateX(6.5vw);
    transition: all 1s ease;
}

.hero-image {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.staff-pick {
    color: var(--color-bg-primary) !important;
    background-color: var(--color-accent-primary);
}

.group:hover .hero-image-wrapper-left {
    rotate: -16deg;
}

.group:hover .hero-image-wrapper-right {
    rotate: 16deg;
}

.animation-float {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 50px rgb(255, 138, 91, 0.15);
    animation: float 6s ease-in-out infinite;
    animation-duration: 500;
    transition: all 1s ease-out;
}

.animation-float:hover {
    filter: contrast(1.125);
}

.border-top-custom {
    margin-top: 90px;
    border-top: 1px solid rgba(168, 85, 247, 0.2);
}
.about-section {
    background: var(--color-bg-primary);
    padding: 50px 0;
  }
  
  .about-section h2 {
    color: #00d9ff;
    margin-bottom: 50px;
  }
  
  .about-card {
    background: var(--color-bg-secondary);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 50px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .about-card:hover {
    transform: translateY(-5px);
  }
  
  .about-card i:first-child {
    font-size: 50px;
    color: var(--color-accent-primary) !important;
    margin-bottom: 20px;
    display: block;
  }
  
  .about-card h4 {
    color: var(--color-text-primary);
    margin-bottom: 20px;
    font-size: 35px;
  }
  
  .about-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin-bottom: 15px;
  }
  
  .about-content.expanded {
    max-height: 500px;
  }
  
  .about-content p {
    color: var(--color-text-secondary) !important;
    line-height: 1.6;
    font-size: 18px;
    margin: 0;
  }
  
  .expand-btn {
    background: transparent;
    border: 2px solid var(--color-accent-secondary);
    color: var(--color-text-primary);
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .expand-btn:hover{
    background-color: var(--color-accent-secondary) !important;
  }
  .expand-btn:hover span{
    color: var(--color-bg-primary) !important;
  }
  .expand-btn:hover i{
    color: var(--color-bg-primary) !important;
  }
  
  .expand-btn .bi {
    transition: transform 0.3s ease;
    display: inline-block;
  }
  
  .expand-btn.is-expanded .bi-chevron-down {
    transform: rotate(180deg);
  }

.movies-text h2 {
    font-weight: 700;
    background: -webkit-linear-gradient(90deg, rgba(65, 71, 137, 1) 30%, rgba(46, 242, 194, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    margin: 20px 0 20px 0;
    letter-spacing: 7px;
}
.card-content p{
    color: var(--color-text-primary) !important;
}
.movie-card {
    width: 400px;
    height: 648px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.movie-title {
    font-size: 35px; 
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 1.2;
}

.movie-description {
    font-size: 1rem;
    line-height: 1.3;
    opacity: 0.9;
    margin-bottom: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trailer-btn {
    background: var(--color-accent-secondary);
    color: var(--color-bg-primary) !important;
    border-style: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.6s;
}

.trailer-btn:hover {
    background-color: var(--color-accent-primary);
}

.rating-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.chart-icon {
    font-size: 1.2rem;
}

.rating-value {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
}

.rating-value i {
    color: yellow !important;
    font-size: 25px;
    padding-right: 7px;
}

.filter-buttons {
    gap: 15px;
}

.filter-btn {
    border: 2px solid var(--color-accent-secondary);
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary) !important;
    transition: all 0.4s ease;
}

.filter-btn.active {
    background-color: var(--color-accent-secondary);
    color: var(--color-bg-primary) !important;
}

.filter-btn:hover {
    background-color: var(--color-accent-secondary);
    color: var(--color-bg-primary) !important;
}

.form-header-text {
    margin: 60px 0 60px 0;
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    background: -webkit-linear-gradient(90deg, rgba(65, 71, 137, 1) 30%, rgba(46, 242, 194, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.success-message {
    display: block;
    color: #00ff88 !important;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 20px;
    font-weight: 500;
}

#reviewForm {
    max-width: 900px;
    margin: 0 auto;
    background: var(--color-bg-secondary);
    padding: 40px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 30px;
}

.form-group.full-width {
    grid-column: 1 / -1;
}

.form-group label {
    color: var(--color-text-primary);
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
}

.form-group input[type="text"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px 0px;
    border: none;
    border-bottom: 2px solid rgb(138, 143, 199);
    background-color: var(--color-bg-secondary);
    color: var(--color-text-primary);
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--color-accent-secondary);
}

input[type='checkbox'],
[type='radio'] {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    accent-color: var(--color-accent-secondary);
}

.form-group input[type="text"].invalid,
.form-group select.invalid,
.form-group textarea.invalid {
    border-color: #ff4444;
}

.radio-group,
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-group label,
.checkbox-group label {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.radio-group label {
    width: 30%;
}

.radio-group input,
.checkbox-group input {
    margin-right: 10px;
    cursor: pointer;
}

.error-message {
    display: block;
    color: #ff4444 !important;
    font-size: 14px;
    margin-top: 5px;
    min-height: 20px;
}

.submit-btn {
    grid-column: 1 / -1;
    padding: 15px;
    background: var(--color-accent-secondary);
    color: var(--color-bg-secondary) !important;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background: var(--color-accent-primary);
}

input::placeholder,
textarea::placeholder {
    font-size: 18px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    font-size: 18px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-size: 18px;
}
.footer h3{
    color: var(--color-text-secondary) !important;
}
.footer a:hover {
    color: var(--color-accent-secondary) !important;
  }
  
.footer .btn-outline-info:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}
.quick-links a{
    text-decoration: none;
    color: var(--color-text-muted) !important;
    font-size: 20px;
}
.copyright{
    border-top: 2px solid var(--color-bg-secondary);
}
.social-media a > i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-muted) !important;
    border: 2px solid var(--color-text-muted);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.social-media a{
    color: var(--color-text-muted) !important;
    text-decoration: none;
}
.social-media a > i:hover{
    color:  var(--color-accent-secondary) !important;
    border: 2px solid var(--color-accent-secondary);
}
.footer-picture{
    width: 200px;
}
.author-picture {
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.author-text h2,p {
    color: var(--color-text-muted) !important;
}
.author-text h2{
    font-size: 50px;
    text-align: center;
}
@media (min-width: 992px) {
    .navbar-custom {
        padding-left: 150px !important;
        padding-right: 150px !important;
    }
}

@media (max-width: 992px) {
    .main {
        padding-top: 8rem;
    }

    .h1-hero {
        font-size: 8vw !important;
    }

    .group {
        display: none !important;
    }
    .hero-wrap{
        justify-content: center;
        text-align: center;
    }
    .hero-wrap .w-50{
        margin-inline: auto;
    }
    .hero-button{
        padding: 18px 40px 18px 40px;
    }
    .hero-button a{
        font-size: 15px;
    }
    .movie-card{
        width: 300px;
        height: 486px;
    }
    .author-picture{
        width: 90%;
        padding: 0;
    }
    .author-text h2{
        font-size: 30px;
    }
    .author-text p{
        font-size: 20px !important;
    }
}
@media (max-width: 768px){
    .movie-card{
        width: 400px;
        height: 648px;
    }
    .author-text h2{
        margin-top: 40px;
        font-size: 40px;
    }
    .author-text p{
        font-size: 26px !important;
    }
    .filter-btn{
        padding: 6px 11px 6px 11px;
    }
}
@media (max-width: 1200px){
    .navbar{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
